.accueil-container {
  height: 20%;
  width: 90%;
  margin: 0 auto 3rem;
  
  /* position: relative; */
  /* justify-content: center; */
}
.cat-container {
  display: flex;
  top: 6rem;
  left: calc(2rem + 6vw);
  justify-content: center;
}
h2 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}
a {
  font-size: calc(1rem + 1.5vw);
  color: rgb(140, 106, 44);
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}
.cat-container a:hover {
  color: white;
}
.galerie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58vh;
  width: 88%;
  margin: 0 auto;
}
.photo {
  width: 22%;
}
.photo img {
  width: 100%;
  object-fit: cover;
}
.photo.top {
  margin-bottom: 4rem;
}
.photo.bottom {
  margin-top: 10rem;
}
#photo1 {
  transform: rotate(-15deg);
}
#photo2 {
  transform: rotate(10deg);
}
#photo4 {
  transform: rotate(20deg);
}
.cat-container .wrapper {
  border-left: solid 2px rgb(140, 106, 44);
  border-bottom: solid 2px rgb(140, 106, 44);
  border-right: solid 2px rgb(140, 106, 44);
  background: white;
  box-shadow: -5px 4px 20px 0px rgba(0,0,0,0.75);
  border-radius:0  0  15px 15px;
  padding: 0 1rem;
  width: 30%;
}
.cat-container .wrapper:hover {
  background-color: rgba(140, 106, 44, 0.799);
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  
}
.mess-container {
  /* position: absolute; */
  color: white;
  top: 6rem;
  right: calc(2rem + 6vw);
}
.mess-container p {
  color: rgb(140, 106, 44);
  font-size: calc(1rem + 2vw);
}
.wrapper {
  background-color: rgba(255, 255, 255, 0.703);

  /* border-top: transparent;
  border-right: transparent; */
  
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.appear {
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: op 3s forwards;
  /* margin-bottom: 1rem; */
}
@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@media only screen and (max-width: 1030px){
  .cat-container .wrapper {
    padding: 0.2rem;
      width: 40%;  
  }   
}
