.carousel {
    height: 22%;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.img-caroussel {
  object-fit: cover;
  width: calc(10rem + 16vw);
  height: calc(17rem + 10vw);
  margin: 0 auto;
  margin-top: 2.5rem;
  /* border: solid 3px rgb(140, 106, 44); */
  border-radius: 20px;
  box-shadow: 3px 3px 11px -4px #000000;
}

.img-caroussel img {
  border: solid 2px rgb(140, 106, 44);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 11px -4px #000000;
  /* margin-bottom: 10px; */
}
.img-caroussel p {
  font-size: 3rem;
  font-weight: bold;
  
  padding-bottom: 1rem;
  /* margin-bottom: 3rem; */
}
.thumb {
    opacity: 1;
    border-radius: 15px;
    /* border: solid 2px white; */
    
}
.thumb img {
  border-radius: 12px;
  /* width: 100%;
  height: 100%; */
    /* object-fit: cover; */
    /* display: none; */
}


@media only screen and (max-width: 600px){
  .img-caroussel {
    width: calc(12rem + 16vw);
    height: calc(7rem + 30vw);  
  }   
}