.footer {
    bottom: -15rem;
    width: 100%;
    border: solid 3px rgb(140, 106, 44);
    box-shadow: 3px 3px 11px -4px #000000;
    border-bottom: transparent;
    background-color: rgba(255, 255, 255, 0.703);
    border-radius:   25px 25px 0px 0px;
    display: flex;
    justify-content: space-around;
    padding: 1.6rem;
}
.block-footer {
    display: flex;
    flex-direction: column;
}
.block-footer a{
    font-size: calc(0.7rem + 1vw);
    color: rgb(117, 89, 36);
}
.block-footer h3 {
    font-size: calc(0.8rem + 1vw);
    color: rgb(117, 89, 36);
    font-weight: bold;
}
.footer a {
    transition: all .3s ease-in-out;
  }
.footer  a:hover {
    transform: scale(1.12);
  }
