.footer {
    width: 97%;
    margin: 0 auto;
    border: solid 3px rgb(140, 106, 44);
    box-shadow: 3px 3px 11px -4px #000000;
    border-bottom: transparent;
    background: white;
    border-radius:   25px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.6rem;
}
.block-footer {
    display: flex;
    flex-direction: column;
}
.footer .line {
    display: none;
}
@media only screen and (max-width: 730px){
    .block-footer {
      width: 100%;  
    }
    h3 {
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
    }
    .footer a {
        margin: 0;
    } 
    .footer .line {
        display: block;
        width: 40%;
        margin: 0.6rem auto;
    }  
    .block-footer a{
        font-size: calc(0.5rem + 2vw);
    }
}
.block-footer a{
    font-size: 2.2rem;
    color: rgb(117, 89, 36);
}
.block-footer h3 {
    font-size: 2rem;
    color: rgb(117, 89, 36);
    font-weight: bold;
}
.footer a {
    transition: all .3s ease-in-out;
}
.footer  a:hover {
    transform: scale(1.12);
}
  
