.card {
    border: solid 3px rgb(140, 106, 44);
    border-radius: 20px;
    box-shadow: 3px 3px 11px -4px #000000;
    text-align: center;
    padding: 0.5rem;
}




.connexion-form {
    margin: 8rem auto 15rem;
    padding: 2rem;
    width: 80%;
    max-width: 50rem;
    position: relative;
    /* display: flex; */
    font-size: 2.1rem;
}

.list-log li {
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 1.5rem;
}

.list-log li:hover {
    transform: scale(1.1); 
}

.form-container {

    padding-top: 1.5rem;
    
}

#form label {
    font-size: 2rem;
}

#form input {
    /* max-width: 28rem; */
    width: 70%;
    margin: 1rem 1rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    /* font-weight: bold; */
    border-radius: 15px;
    /* border: solid 1px white; */
    cursor: pointer; 
    /* s */
    /* background-color: #4E5166; */
    box-shadow: 3px 3px 11px -4px #000000;
    
} 

.btn-form {
    transition: all .2s ease-in-out;
    font-family: 'Dancing Script', sans-serif;
    border: white;
}

input[value="Se connecter"] {
    font-weight: bold;
}

.btn-form:hover {
    transform: scale(1.2);
    background-color: rgb(140, 106, 44);
    color: white; 
}