.navBar {
    border: solid 3px rgb(140, 106, 44);
    border-top: transparent;
    box-shadow: 3px 3px 11px -4px #000000;
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.998);
    border-radius:  0px 0px 25px 25px;
    position: relative;
}
h1 {
    font-size: calc(2.5rem + 2vw);
    color: rgb(140, 106, 44);
    border-radius: 50px;
    padding: 1rem 2rem;
}
@media only screen and (max-width: 1030px){
    .navBar {
        flex-direction: column;
        width: 100%;  
    } 
    h1 {
       position: relative;
       top: 10px;
    }  
}
.icon-back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: calc(2rem + 0.5vw);
}
.logo.logo-img {
    height: 12rem;
}
.logo-img img {
    margin-left: 2.5rem;
    margin-top: -1rem;
    width: 18rem;
}

h4 {
    margin-right: 2rem;
    margin-bottom: -5px;
}
.welcomeLogout-container {
    display: flex;
    font-size: 3rem;
    margin-right: 2rem;
    margin-top: 1.6rem;
    align-items: center;
    color: rgb(140, 106, 44);
    font-weight: bold;
}
.btn-logout {
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: rgb(140, 106, 44);
    padding-top: 3rem;
}
.btn-logout:hover {
    transform: scale(1.12); 
}
.btn-profil {
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: rgb(140, 106, 44);
    font-size: 2.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.btn-profil:hover {
    transform: scale(1.12); 
}
.btn-login {
    margin-left: 25rem;
}
.icon-cart {
    position: relative;
    margin-right: 1rem;
}
.number-product-cart {
    position: absolute;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    
    /* right: 2rem */
    background: grey;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
@media only screen and (max-width: 1030px){
    .welcomeLogout-container {
        align-items: center;
        justify-content: center;
        margin-top: -2rem; 
    }
    .welcomeLogout-container a {
        padding-top: 1rem;
    }
    .logo-img img {
        width: 22rem;
        margin-right: 3rem;
    }
    h1 {
        margin-top:-0.5rem;
        padding: 0;
    }   
}


 


