.navBar {
   
    border: solid 3px rgb(140, 106, 44);
    border-top: transparent;
    box-shadow: 3px 3px 11px -4px #000000;
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius:  0px 0px 25px 25px;
    /* background-image: url("../../public/backNavbar.png"); */
    /* background-image: inherit; */
    position: relative;
    
}
.icon-back {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: calc(2rem + 0.5vw);
}
.logo-img img {
    margin-left: 2.5rem;
    width: 18rem;
    /* position: relative; */
    /* top: -130px; */
    /* z-index: -1; */
}

h1 {
    font-size: calc(3rem + 2vw);
    
}





h4 {
    margin-right: 2rem;
    margin-bottom: -5px;
}

.welcomeLogout-container {
    display: flex;
    font-size: 2.6rem;
    margin-right: 2rem;
    margin-top: 1.6rem;
    align-items: center;
}

.btn-logout {
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: rgb(140, 106, 44);
    padding-top: 3rem;
}

.btn-logout:hover {
    transform: scale(1.12); 
}
.btn-profil {
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: rgb(140, 106, 44);
    font-size: 2.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.btn-profil:hover {
    transform: scale(1.12); 
}

.btn-login {
    margin-right: 15rem;
}
.icon-cart {
    position: relative;
}

.number-product-cart {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    right: 2rem;
    background: grey;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 663px){
    .welcomeLogout-container {
        margin-bottom: 1rem;
    }   
}

.welcome {
    margin: 0 2rem;
    color: white;
    padding-top: 0.5rem;
}


