.card-Oneproduct {
    width: 24%;
    min-width: 300px;
    margin: 5rem auto 8rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 11px -4px #000000;
    position: relative;
    
}
@media only screen and (max-width: 780px){
    .card-Oneproduct {
        width: 50%; 
    }   
  }


.img-Oneproduct {
    width: 100%;
    height: 70%;
    padding: 1rem;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    border: solid 1px white;

}
.flex-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.flex-product i {
    position: absolute;
    right: 0.5rem;
    top: 2.3rem;
}

@media only screen and (max-width: 1030px){
    #back {
      left: -12rem; 
    }   
  }
.description {
    font-size: 2rem;
    padding:  1rem;
    color: black;
}
.price-product {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

/* 
.card-container i {
    position: absolute;
    right: 4rem;
    bottom: 5rem;
    font-size: 2rem;
    color: rgb(140, 106, 44);
    transition: all .3s ease-in-out;
}
.card-container i:hover {
    transform: scale(1.12);
} */